/* Base - Variables: tailwind-config.js */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* Site Specific */
@import "tailwindcss/utilities";
@import "tailwindcss/utilities";
@import "base/base.scss";



.nav-link {

  background-color : #c4c2c3;
  border : 1px solid #bdbbbc;
  letter-spacing : 2px;
  @apply p-2 shadow;
 
}

.nav-links li {

  @apply mr-4;

}

.nav-link:hover, .active {

  box-shadow : inset 0 0 20px #929091;

}

#pagination li {

  @apply m-1 p-2;

}

.cta-btn, .rm-btn {

  background-color: #c33c54;
  color: #fafafa;
  @apply  shadow  text-white font-bold py-2 px-4;
}

.rm-btn {

  background-color:  #114b5f;

}

.rm-btn:hover {

  background-color:  #028090;

}

.btn-center {

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #055a8c;
  color: #bdbbbc;
  text-align: center;

  a {

    color: #bdbbbc;
    
  }

  &:hover {

    background-color: #094c72 ;

  }
}

.btn-center:hover {

  background-color: #094c72 ;

}

.github-btn {

  @apply bg-black p-2 text-white absolute;
  bottom :0;
  right : 0;

  a {

    color : #fff;

  }

  .inline-svg {

    margin-right: 5px;

  }
}

@media screen and (max-width: 320px) {

  #footer a {


    font-size: 12px;
    
  }

}

.caption {

    position: relative;

    // img {

    //     position: relative;
    // }

    // .caption-text {

    //     padding : 5px;
    //     // background: rgba($color: #000000, $alpha: 0.7);
    //     position : absolute;
    //     bottom: 0px;
    //     @apply shadow-md;

    //     a {
    //         color: #fafafa;
    //     }
    // }

}