h1,
h2,
h3,
h4 {

    font-family: 'Inconsolata', monospace;
    line-height: 2;
    letter-spacing: 0.04em;
    margin: 1em 0;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
    
}

h2 {

   
    display: inline-block;

    a {

        color : #114b5f;
    }

}