#page_404 {

    background : url(../img/main/404.jpg);
    /* background-image: radial-gradient( circle 651px at 7% 22.8%, rgba(232,249,255,1) 10.5%, rgba(229,199,206,1) 51.3%, rgba(219,199,229,1) 97.6% ); */
    background-size: cover;
    
}

#container-flex {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#page_404 footer {

    display: block;

}

#box_404 {

    width : 40rem;
    border : 15px solid;
    border-image-source: url(/img/main/watercolor-paint-background.jpg);
  border-image-slice: 60 30;
}

#box_404 h1 {

    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;

}

#box_404 ul {

    margin: 2em 0;

}

#box_404 li {

    margin: 1.2em 0;

}

#box_404 img {

    margin-top: -5em;

}

.center {

    text-align: center;
    display: block;
    margin: 0 auto;
}

.rainbow-hr {
    background-image: -webkit-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
	background-image: -moz-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5)); 
	background-image: -ms-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
	background-image: -o-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
  }