.btn-trello {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #055a8c;
  color: #bdbbbc;
  text-align: center;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #114b5f;
  }
}

.btn-github {
  @apply bg-black p-1 text-white text-sm;
  width: fit-content;
  a {
    color : #fff;
    .inline-svg {
      margin-right: 10px;
      width: 1em;
    }
  }
}
