@font-face {

    font-family: "Inter var";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
        url("/fonts/Inter-Regular.woff") format("woff");

}

body {

    background-image: url('/img/main/brushed-metal-1.jpg');
    font-family: "Inter var", Helvetica, sans-serif;
    font-feature-settings: 'liga'1;
    font-feature-settings: 'tnum'1;
    font-feature-settings: 'ss02'1;
    color: #333333;
    background-color: #b7b7b7;
}

h1,
h2,
h3,
h4 {

    font-family: 'Inconsolata', monospace;
    line-height: 2;
    letter-spacing: 0.05em;
}


h2 {

    border-left: 5px solid #114b5f;
    padding-left: 8px;
    padding-right: 8px;
    background-image: linear-gradient(to right top, #114b5f, #0f586c, #0a6579, #057285, #028090);
    color: white;
    display: inline-block;

}

p {
    line-height: 1.625;
    margin-top: 1em;
    margin-bottom: 1em;
}

#header,
#footer {

    background-image: url('/img/main/brushed-metal-1.jpg');
    /* background-image: linear-gradient(to right top, #114b5f, #0f586c, #0a6579, #057285, #028090); */
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#header {
    z-index: 56;
    top:0px;
}

.nav-links i {

    margin-right : 0.3rem;

}

#avatar {

    background-color: #028090;

}

.cta-btn {

    background-color: #c33c54;
    color: #fafafa;

}

.card {

    background: rgb(248, 248, 248);
    background: -moz-linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    background: linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8", endColorstr="#fafafa", GradientType=1);

    box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb, 0px 4px 0px #b9b9b9, 0px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 3px 0px rgba(0, 0, 0, 0.2), 0px 5px 0px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.1), 0 8px 7px rgba(0, 0, 0, 0.1), 0 9px 9px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.16);
}



.card-brd-top {

    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #114b5f,rgba(0, 0, 0, 0)) 1 100%;
}

.shadow-img {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

blockquote {

    font-family: Consolas, "Times New Roman", Verdana;
    /* border-left: 4px solid #CCC; */
    padding-left: 8px;

}

.inset-text {

    color: #8e8e8e;
    font-size: 0.80em;
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
    border-right: 1px solid rgba(160, 160, 160, 0.3);
    letter-spacing : 2px;

}

#meta {

    font-size: 0.80em;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
    
    #postlist > :first-child { margin-left: -0.50rem;  }
    #postlist > :last-child {  
        margin-right: -0.50rem;
     }

}

.nav-links > :last-child {  margin-right: 0; }

@media (min-width: 768px) and (max-width: 1024px) { 
#postlist > div:nth-child(2n+2) { margin-right: -0.25rem; }
#postlist > div:nth-child(3n+3) { margin-left: -0.25rem; }
}


.id-card {

    background: rgb(248, 248, 248);
    background: -moz-linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    background: linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8", endColorstr="#fafafa", GradientType=1);


    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
	/* flip the pane when hovered */
	.rotate, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
    transform-style: preserve-3d;

}

/* hide back of pane during swap */
.front, .back {
    height:100%;
   width: 100%;
	backface-visibility: hidden;
-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {

	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#close-flip, a {
    cursor: pointer;
}

#posts img {

   box-shadow : 6px 0px 2px -2px #bdbbbc;
}

.inline-svg {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    top: 0.15rem;
    position: relative;
  }

