.nav-links i {

    margin-right : 0.3rem;

}

#avatar {

    background-color: #028090;

}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

blockquote {

   
    /* border-left: 4px solid #CCC; */
    padding-left: 8px;

}



.nav-links > :last-child {  margin-right: 0; }

.id-card {

    background: rgb(248, 248, 248);
    background: -moz-linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    background: linear-gradient(90deg, rgba(248, 248, 248, 1) 0%, rgba(250, 250, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8", endColorstr="#fafafa", GradientType=1);


    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    
}
	/* flip the pane when hovered */
	.rotate, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
    transform-style: preserve-3d;
    height:  100%;
    display: flex;
}

/* hide back of pane during swap */
.front, .back {
    height:100%;
   width: 100%;
	backface-visibility: hidden;
-webkit-backface-visibility: hidden;
    position: absolute;
	top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {

	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#close-flip, a {
    cursor: pointer;
}

#posts img {

   box-shadow : 6px 0px 2px -2px #bdbbbc;
}


.top-round-rainbow {
  
    border-radius: 4px;
    
    background-image: repeating-linear-gradient(to right,
    #c4e17f 0px, #c4e17f 50px,
    #f7fdca 50px, #f7fdca 100px,
    #fad071 100px, #fad071 150px,
    #f0766b 150px, #f0766b 200px,
    #db9dbe 200px, #db9dbe 250px,
    #c49cdf 250px, #c49cdf 300px,
    #6599e2 300px, #6599e2 350px,
    #61c2e4 350px, #61c2e4 400px);
    background-size: 100% 10px;
    background-repeat:no-repeat;
  }

  
@media screen and (max-width: 640px) {
    .flipper {
        height:  200px;
    }
  }
    

