/* CTA colors background-color : #ff8c00; */

html{ scroll-behavior:smooth; }


@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: auto;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
}

@font-face {
    
    font-family: "Inter var";
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
         url("/fonts/Inter-Regular.woff") format("woff");

}

body {

    font-family: "Inter var", Helvetica, sans-serif;
    font-feature-settings: 'liga' 1;
    font-feature-settings: 'tnum' 1;
    font-feature-settings: 'ss02' 1;
}


.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
   
    font-family: "Inter var", Helvetica, sans-serif;
    font-feature-settings: "lnum";
    font-variant-numeric: lining-nums;
    letter-spacing: 0em;
    
}

/* .post h2, .post h3, .post h4 {

    text-decoration: underline;
} */
a {

   border : none;

}

a:hover {

    font-weight: bold;

}

.featured {

    height : 200px;
    margin-top : 0;
  
}

.btn-center {

    text-align: center;
    margin-top : 1em;
    margin-bottom : 1em;

}
  
#site-nav-menu {
  
    background-color: #4682B4;
  
}
  
#home-citation { 
    /* margin: 0;
    margin-top : 1.5em; */
    border-left : none;
    text-align : center;
}
  
#home-citation p {
  
    margin-bottom: 1em;

}

#mc_embed_signup {

    margin-top : 2em;
}

#mc-embedded-subscribe input.button {

    margin:auto;

}

.card {

    border-left : none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color : #fff;
    padding : 1em;
}

#feat-home {

    padding : 5px;
    background-color: #f4f4f4;
    box-shadow: inset 0 4px 8px 0 rgb(0, 0, 0,0.2);
    margin-top : 5px;
    margin-bottom : 5px;
}

#site-footer {

    background: url('../img/main/footer.jpg') #000;
    color : #8e8e8e;
    padding: 1em;
    margin: 0;
    margin-top: 1em;
    -webkit-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.19); 
    box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.19);
    
}

#site-header {
   
    background: url('../img/main/footer.jpg') #000;
    color : #fff;

}

.nav-title {

    color : #8e8e8e;
    font-size: 1.8em;

}

.article-category-link {

    line-height: 1.5em;

}

.no-bullets {

    list-style-type: none;
    padding: 1em;
    margin : 0em;

}

.card-divider {

    padding: 1em;
    font-weight: bold;

}

#list-cat .card-divider h3 {

    display: inline;
    /* color: #FF8C00; */
    color : #d3d3d3;
    font-size: 0.8em;

}

#list-cat .card {

    padding : 0;

}

.card-section {

    padding: 0 0.8em;

}

.post-list li {

    margin-bottom: 15px;

}

#list-cat .card-divider a {

    border-bottom: 1px dashed #ff8c00;
    padding-bottom : 0.5em;

}

#list-cat a {

    border-bottom: none;

}

#list-cat .card-divider {

    background-color: #000;
    color : #ff8c00;

}
.post a[target=_blank]:after{
    
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;

}

h1 {

    font-size : 1.8em;

}

#site-main {

    margin-top : 10px;

}

#categorie-side, .post li {

    padding-left: 1.3em;
    list-style : none;

}

#categorie-side li:before, .post li:before {

    content: "\f101"; /* FontAwesome Unicode */
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.1em; /* same as padding-left set on li */

}

.post > header div {
    padding: 0em 1em;
}

.post > footer {

    padding: 1em 0em;

}

.post > header {

    border-bottom :none;

}

#is-single .post header {

    border-bottom: solid 1px rgba(160,160,160,0.3);

}

nav #cta {

    background-color : #ff8c00;
    font-weight : bold;
    color : #000;
    width : auto;
}

.mrg-top {

    margin-top: 1em;

}

.mrg-bottom {

    margin-bottom : 1em;

}

.cta {

    background-color : #ff8c00;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    text-align: center;
}

.cta:hover {

    color: #000;

}

.cta:after, .cta:before {

    content: 'â¤';
    opacity: 0;  
    transition: 0.5s;
}

.cta:before {

   margin-right : 5px;

}

.cta:hover:after, .cta:hover:before {
    opacity: 1;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  }

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
.center {

    text-align: center;

}

#wrapper_index, #wrapper_posts {

    padding-top: 1.5em;

}

.citation {

    border : 5px solid #f4f4f4;
    padding: 5px;
    padding-top: 10px;
    background-color: #f4f4f4;
    box-shadow: inset 0 4px 8px 0 rgb(0, 0, 0,0.2);
    
}

#site-sidebar > * {

    padding-top : 0;

}

#site-intro header div {
    font-size: 1.25em;
    margin-bottom: 0;
    color:#3c3b3b;
    line-height: 1.65;
    text-transform: uppercase;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.12em;
    margin-top: 0.67em;
}

#newsletters #mc_embed_signup input.email {

    width: 100%;

}

