{{ define "main" }}

<section id="about">
{{ with getJSON "https://api.github.com/users/zourite/repos" }}
{{ $projects := sort (where . "fork" false) "created_at" "desc" | first 4 }}
<div class="container mx-auto px-4">

  <h2>Mes derniers projets </h2>

  <div class="grid sm:grid-cols-4 gap-6">

    {{ range $projects }}

    <article class="project card">

      <div class="project-img">

        <img src="https://raw.githubusercontent.com/{{ .full_name }}/master/screenshot.png"
          alt="{{ replace .name "-" " " | title }} github">
        <div class="info-project">

          <p class="text-xs text-right p-2"><i>{{ .language }}</i></p>

          <div class="github-btn">

            <a href="{{ .html_url }}" target="_blank">
              {{ partial "fontawesome.html" "github-brands" }}
              {{ replace .name "-" " " | title }}
            </a>

          </div>

        </div>

      </div>

    </article>
    {{ end }}
   
  </div>
</div>
{{ end }}

</section>

{{ end }}