{{ define "main" }}

<section id="contact">
  <div class="container mx-auto p-4">
    <div id="page-content">

      <div id="intro" class="text-center">
        <p>Je te réponds dès que possible. A bientôt !</p>
      </div>

      <a class="mailto"
        href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#101;&#64;&#115;&#115;&#97;&#117;&#103;&#114;&#105;&#110;&#46;&#102;&#114;">&#109;&#101;&#64;&#115;&#115;&#97;&#117;&#103;&#114;&#105;&#110;&#46;&#102;&#114;</a>

      <div id="rs-icon" class="text-center mt-4">
        <a href="https://twitter.com/Zourite" target="_blank" rel="noopener noreferrer" aria-label="Compte Twitter de Saugrin Sonia">
          {{ partial "fontawesome.html" "twitter-brands" }}
        </a>
        <a href="https://github.com/Zourite" target="_blank" rel="noopener noreferrer" aria-label="Compte Github de Saugrin Sonia"> {{ partial "fontawesome.html" "github-brands" }} </a>

        <a href="https://www.linkedin.com/in/ssaugrin/" target="_blank" rel="noopener noreferrer" aria-label="Compte Linkedin de Saugrin Sonia">
          {{ partial "fontawesome.html" "linkedin-in-brands" }}
        </a>
      </div>


    </div>
  </div>
</section>

{{ end }}