{{ define "main" }}
<section id="posts" class="pt-16 w-full md:w-11/12 md:mx-auto lg:w-8/12">

	<h1>Les notes d'une pieuvre  passioné</h1>

    <!-- Ranges through content/posts/*.md -->
    {{ range (.Paginator 6).Pages }}
    <div class="flex flex-wrap w-full my-4">

        <article class="flex flex-wrap card mx-2 md:mx-0">
        
            <div class="flex w-full md:w-1/4 items-center">
                {{ if isset .Params "featured" }}
                  <img src="/img/{{ .Params.featured }}" alt="{{ .Title }}" />
                {{ end }}
            </div>
            
            <div class="w-full md:w-3/4">
              <div class="flex w-full">
                <h2>
                  <a href="{{ .RelPermalink }}" class="text-light">
                      {{.Title}}
                  </a>
                  </h2>
                </div>                  
                  <div class="p-3">
                 {{ .Summary }}
                </div>
            </div>
        </article>
    </div>
    {{ end }}

{{ $paginator := .Paginator }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}
<section class="flex p-2 card mx-2 md:mx-0">
  <ul id="pagination" class="flex mx-auto">
    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li class="waves-effect text-white">
      <a href="{{ $paginator.Prev.URL }}">
        «
      </a>
    </li>
    {{ end }}

    <!-- First page. -->
    <li class="{{ if eq $paginator.PageNumber 1 }} active {{ end }} waves-effect grey darken-4 text-white">
      <a  href="{{ $paginator.First.URL }}">
        1
      </a>
    </li>
   
    <!-- Page numbers. -->
    {{ range after 1 $paginator.Pagers}}
    <li class="{{ if eq . $paginator }} active {{ end }} waves-effect grey darken-4 text-white">
      <a href="{{ .URL }}" class="pagination__link">
        {{ .PageNumber }}
      </a>
    </li>
    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li class="waves-effect text-white">
      <a href="{{ $paginator.Next.URL }}">
        »
      </a>
    </li>
    {{ end }}

  </ul><!-- .pagination -->
</section> 
{{ end }}
</section>
{{ end }}