{{ define "main" }}
<section id="posts" class="pt-16 w-full px-2">

  <h1>Les notes d'une pieuvre passioné</h1>

  <div class="row -m-2">
    <!-- Ranges through content/posts/*.md -->
    {{ range (.Paginator 8).Pages }}
    <div class="flex w-12/12 md:w-6/12 lg:w-4/12 xl:w-3/12 p-2">

      <article class="relative card animate__animated animate__fadeIn my-2">
     
        <div class="overflow-hidden h-56">

          {{ if isset .Params "featured" }}
          <img src="/img/{{ .Params.featured }}" alt="{{ .Title }}" />
          {{ end }}

        </div>

        <div class="w-full md:w-4/4" style="padding-bottom: 55px;">
          
          <div class="w-full p-2">
            <h2 class="text-center">
              <a href="{{ .RelPermalink }}">
                {{.Title}}
              </a>
            </h2>
          </div>

          <div class="absolute" style="right : 0; bottom : 5px;">
            <a href="{{ .RelPermalink }}" class="rm-btn">Lire la suite</a>
          </div>

        </div>

      </article>

    </div>

    {{ end }}
  </div>
</section>
{{ $paginator := .Paginator }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}
<section class="row w-full mt-5 mb-5 m-2">
  <ul id="pagination" class="flex mx-auto card p-2">
    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li class="waves-effect text-white">
      <a href="{{ $paginator.Prev.URL }}">
        «
      </a>
    </li>
    {{ end }}

    <!-- First page. -->
    <li class="{{ if eq $paginator.PageNumber 1 }} active {{ end }} waves-effect grey darken-4 text-white">
      <a href="{{ $paginator.First.URL }}">
        1
      </a>
    </li>

    <!-- Page numbers. -->
    {{ range after 1 $paginator.Pagers}}
    <li class="{{ if eq . $paginator }} active {{ end }} waves-effect grey darken-4 text-white">
      <a href="{{ .URL }}" class="pagination__link">
        {{ .PageNumber }}
      </a>
    </li>
    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li class="waves-effect text-white">
      <a href="{{ $paginator.Next.URL }}">
        »
      </a>
    </li>
    {{ end }}

  </ul><!-- .pagination -->
</section>
{{ end }}


{{ end }}