{{ define "main" }}

<header id="hero" style="background-image:url({{ .Params.hero }})">

  <h1> {{ .Title }} </h1>
  
</header>

<section id="single" class="single-post">
  
  <ul id="meta" class="flex">

    <li class="mr-2">
     
      {{ partial "fontawesome.html" "calendar-alt-regular" }} 
      <time class="published" datetime="{{ .Date }}">
        <!-- {{ default (i18n "date_format") | .Date.Format  }} -->
        {{ .Date.Day }} {{ index $.Site.Data.months "fr" (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </time>
    </li>

    <li>
      {{ partial "fontawesome.html" "stopwatch-solid" }} {{ .ReadingTime }} minutes de lecture
    </li>

  </ul>

  <article id="post-content">

    {{ .Content | emojify }}

  </article>

</section>
{{ end }}