<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body id="is-single">
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        <article class="post">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            <div id="content">
                {{ .Content }}
            </div>
        </article>
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "scripts" . }}
    </div>
    {{ partial "site-footer" . }}
  </body>
</html>
