.btn-trello {
  padding: calc(var(--spacing) * 1);
  background-color: #055a8c;
  text-align: center;
  transition: background-color 0.3s ease-in-out;

  a {
    color: #fff;
  }

  &:hover {
    background-color: var(--color-drk-green-octo);
  }
}

.btn-github {
  background-color: var(--color-black);
  padding: calc(var(--spacing) * 1);
  color: var(--color-white);
  font-size: var(--text-sm);
  width: fit-content;
  a {
    color : #fff;
    .inline-svg {
      margin-right: 10px;
      width: 1em;
    }
  }
}
