<header id="header" class="w-full fixed">
    <nav id="nav" class="clearfix p-3">
        <div class="hidden flex items-center justify-center  md:block">
            <div class="inset-text float-left p-1">
            SSAUGRIN  <em>aka Zourite</em>
        </div>
        </div>
        <ul class="nav-links flex float-right mr-2 pr-0">
            <li>
                <a id="home-link" class="nav-link hidden md:inline" href="/">
                    <i class="fas fa-home"></i> Accueil
                </a>
            </li>
            <li>
                <a class="nav-link" href="/posts">
                    <i class="far fa-newspaper"></i> Mes notes
                </a>
            </li>
            <li>
                <a id="flip" class="nav-link" href="/#flip">
                    <i class="far fa-paper-plane"></i> Contact
                </a>
            </li>
        </ul>
    </nav>
</header>
