<header id="header" class="w-full fixed">
    <nav id="menu-principal">
        <div class="hidden md:block">
            <div class="inset-text float-left p-1">
            SSAUGRIN  <em>aka Zourite</em>
        </div>
        </div>
        <ul class="nav-links flex float-right mr-2 pr-0">
            <li>
                <a id="home-link" class="nav-link hidden sm:inline" href="/">
                    {{ partial "fontawesome.html" "home-solid" }} Accueil
                </a>
            </li>
            <li>
                <a class="nav-link" href="/posts">
                    {{ partial "fontawesome.html" "newspaper-regular" }} Mes notes
                </a>
            </li>
            <li>
                <a id="flip" class="nav-link" href="/#contact">
                    {{ partial "fontawesome.html" "paper-plane-regular" }} Contact
                </a>
            </li>
            <li>
              <a class="nav-link" href="/des-livres-pour">
                {{ partial "fontawesome.html" "book-solid" }}
              Des livres
              </a>
          </li>
        </ul>
    </nav>
</header>
