<section id="site-sidebar">
  {{ if gt .Site.Params.sidebar.postAmount 0 }}
    <section id="recent-posts">
      <header>
        <h3>{{ i18n "recent_posts" }}</h3>
      </header>
      {{ range first (.Site.Params.sidebar.postAmount | default 5) (where .Site.Pages  "Type" "post") }}
      <article class="mini-post">
        <section>
          {{ .Render "featured" }}
        </section>
        <header>
          <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
          <time class="published" datetime="">{{ default (i18n "date_format") | .Date.Format }}</time>
        </header>
      </article>
      {{ end }}
      {{ if ge (len (where .Site.Pages "Type" "post")) (.Site.Params.sidebar.postAmount | default 5) }}
        <a href="{{ with .Site.Params.viewMorePostsLink }}{{ . | relLangURL }}{{ else }}{{ "post" | relLangURL }}{{ end }}" class="button">{{ i18n "see_more" }}</a>
      {{ end }}
    </section>
  {{ end }}
    <section id="newsletters">
      {{ if ne .RelPermalink "/oublie-regards-autres/" }}
      <header>
        <h3>Le mail qui fait réflechir 🤔</h3>
         ok 
      </header>
      <p> 
        Reçois des ressources par mail qui te feront penser autrement dès maintenant, <strong><em> voit le monde sous un autre angle.</em></strong>
      </p>
      {{ partial "newsletters" . }}
      {{ else }}
      <header>
        <h3>livre qui te fait reflechir</h3> 
      </header>
      
      <a href="https://amzn.to/35qXjxT" target="_blank">
        
        <img src="/img/main/reussir-echouer-paul-watzlawick.jpg" alt="Réussir à échouer de Paul Watzlawick">
      
      </a>
      {{ end }}
    </section>
  {{ if .Site.Params.sidebar.categories }}
    {{ if ne ($.Scratch.Get "showCategories") false }}
      <section id="categories">
        <header>
          <h3><a href="{{ "categories" | relLangURL }}">{{ i18n "categories" }}</a></h3>
        </header>
        <ul id="categorie-side">
          {{ if .Site.Params.sidebar.categoriesByCount }}
            {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
          {{ else }}
            {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
          {{ end }}
          {{ range $key, $value := $.Scratch.Get "categories" }}
          <li>
            {{ if ne $value.Name "" }}
              <a href="{{ printf "%s/%s" "categories" $value.Name | urlize | relLangURL }}/">
                {{ $value.Name | humanize | title }}<span class="count">{{ $value.Count }}</span>
              </a>
            {{ else }}
              {{ i18n "uncategorized" }}<span class="count">{{ $value.Count }}</span>
            {{ end }}
          {{ end }}
          </li>
        </ul>
      </section>
    {{ end }}
  {{ end }}

  {{/*  <section id="mini-bio">
    <header>
      <h1>{{ i18n "about" }}</h1>
    </header>
    <p>{{ .Site.Params.sidebar.about | safeHTML }}</p>
    <footer>
      <a href="{{ "about" | relLangURL }}" class="button">{{ i18n "learn_more" }}</a>
    </footer>
  </section>  */}}
</section>
