<footer id="site-footer">
  {{ if or (.Site.Params.footer.rssFooter) (.Site.Params.footer.socialFooter) }}
      <ul class="socnet-icons">
        {{ if .Site.Params.footer.rssFooter }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.footer.socialFooter }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
  {{ end }}
  <p class="copyright">
    {{ with .Site.Copyright | safeHTML }}
      {{ . }}
    {{ else }}
    Sonia SAUGRIN &copy; {{ now.Year }} - <a href="mentions-legales">Mentions Légales</a> |
  
    {{ end }} 
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.
  </p>
</footer>
<a id="back-to-top" href="#" class="fas fa-arrow-up fa-2x"></a>

