{{ define "main"}}
<section id="p404" class="flex items-center">

      <div    class="w-full md:w-11/12 md:mx-auto lg:w-8/12 pt-16">

        <img src="/img/main/unicorn.png" alt="La licorne Perdu" class="mx-auto -mb-3">
        <header class="card mb-4"> 
            <h1 class="text-center"> Tu t'es perdu petit padawan !</h1> 
        </header>   
        
        <article class="card">
             
            <div id="posts-404" class="p-2">
                
                <ul>
                    
                    {{ range first (.Site.Params.sidebar.postAmount | default 10) (where .Site.Pages  "Type" "post") }}
                
                    <li class="mb-2">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    
                    </li>
                    
                    {{ end }}
                
                </ul>
            
            </div>  
    
        </article>
    
    </div>

</section>
{{ end }}