<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    <div id="wrapper_index" class="grid-container">
      
          <div class="grid-x card">

              <div class="cell medium-4 columns show-for-medium">
              
                {{ partial "site-intro" . }}
    
              </div>

              <div class="cell small-12 medium-8 columns">

                  <h2>Ne pas penser comme les autres est un avantage</h2>
                         
                  <p>
                    A force de s'efforcer d'être comme les autres, dans un système où tout est mis en place pour que nous soyons de simples rouages, nous ne réalisons jamais nos rêves et oublions de faire profiter le monde de nos talents.
                  </p>
                 
                  <p>
                    On nous implante la croyance que le rythme auquel on apprend est lié à notre capacité mémorielle et par conséquent à notre réussite alors qu'il n'en est rien.
                    Nous avons tous un rythme qui nous est propre et des différences qui sont nos forces.
                    Nous ne sommes pas interchangeables et remplaçables, mais uniques avec des aptitudes et des dons, dont les autres ont besoin.
                  </p>    
                  
                  <p>
                    Cessons de nous comparer, de nous uniformiser et révélons avec authenticité au monde qui nous sommes vraiment.
                  </p> 
                     
                  <p class="center citation">Ce n'est pas ce que nous sommes qui nous empêche de réaliser nos rêves ; c'est ce que nous croyons que nous ne sommes pas. <br /> <i>- Paul-Emile Victor</i></p>
    
                  <p class="center mrg-bottom">
                    
                      <a href="oublie-regards-autres" class="cta hvr-pulse">Commence à vivre </a>

                  </p>
              
                </div>
          
            </div>
  

            <div  class="card row mrg-top">

                <h2>Des livres pour se conprendre</h2>

                <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-on="medium">
                
                  <div class="cell">
                    
                    <div data-equalizer-watch>
                    <a href="https://amzn.to/32VjzhP" target="_blank">

                      <img src="/img/main/faites-vous-meme-votre-malheur.jpg" alt="Faites vous mêmes votre malheur - Paul Watzlawick"/>
  
                    </a>
                  </div>
                    <div class="btn-center">
                      
                      <a href="https://amzn.to/32VjzhP" class="button">En savoir plus sur le livre</a>
                    
                    </div>  

                  </div>

                  <div class="cell" >
                    
                    <div data-equalizer-watch>
                      <a href="https://amzn.to/37YZNWb" target="_blank">
  
                        <img src="/img/main/amour-et-haine-melanie-klein.jpg" alt="L'amour et la haine - Melanie Klein"/>
    
                      </a>
                    </div>
                      <div class="btn-center">

                        <a href="https://amzn.to/37YZNWb" class="button">En savoir plus sur le livre</a>
                      
                      </div>

                    </div>
                    
                    <div class="cell">
                      
                      <div data-equalizer-watch>

                        <a href="https://amzn.to/37VrrDi" target="_blank">
    
                          <img src="/img/main/detache-moi-marcel-rufo.jpg" alt="Detache moi - Marcel Rufo"/>
      
                        </a>
                      
                      </div>

                        <div class="btn-center">
                        <a href="https://amzn.to/37VrrDi" class="button">En savoir plus sur le livre</a>
                        </div>

                      </div>
                
                </div>
                             
              </div>

        </main>
      {{ partial "scripts" . }}
    </div>
    {{ partial "site-footer" . }}
  </body>
</html>
