{{ define "main" }}
<section id="home">

  <div class="ocean">

    <div id="fish-group" class="flex" aria-hidden="true">
      <div>
        <div class="fish" id="fish6" aria-hidden="true"></div>
        <div class="fish" id="fish5" aria-hidden="true"></div>
        <div class="fish" id="fish4" aria-hidden="true"></div>
      </div>
      <div style="margin-left:-25px">
        <div class="fish" id="fish3" aria-hidden="true"></div>
        <div class="fish" id="fish2" aria-hidden="true"></div>
        <div class="fish" id="fish1" aria-hidden="true"></div>
      </div>
    </div>

    <div class="bubbles" aria-hidden="true">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <article class="container mx-auto h-full ">

      <div class="h-full flex flex-col items-center justify-center">
        <div id="rs-icon" class="text-center">

          <img src="/img/zourite-developpeur-web-reunion.png" loading="lazy" alt="Zourite developpeur web reunion" aria-hidden="true" class="shadow-img mx-auto">

          <div class="w-full mt-4">
            <a href="https://github.com/Zourite" aria-label="Compte Github de Saugrin Sonia" rel="noopener noreferrer" target="_blank">
              <iconify-icon icon="fa6-brands:github-alt" class="inline-svg" width="24"></iconify-icon>
            </a>
            <a href="https://www.linkedin.com/in/ssaugrin/" aria-label="Compte Linkedin de Saugrin Sonia" rel="noopener noreferrer" target="_blank">
              <iconify-icon icon="fa6-brands:linkedin" class="inline-svg" width="24"></iconify-icon>
            </a>
          </div>
          <blockquote class="mt-5 mb-5 p-4">
            <h1> Si debugger, c’est supprimer des bugs, alors programmer ne peut être que les ajouter.</h1>
            <cite class="mt-3">- Edsger Dijkstra</cite>
          </blockquote>
        </div>
      </div>

  </article>

  </div>

</section>

{{ end }}
