:root {
  --header-height: 40px;
  --header-z-index: 56;
  --font-mono: "Kalam Regular", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-dragon);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--color-dragon);
  text-decoration-thickness: .1em;
  text-underline-offset: 3px;
  @media (min-width: 976px) {
    text-decoration-thickness: .05em;
    text-underline-offset: 2px;
  }

  &:hover {
    text-decoration-color: var(--color-blue-deep);
  }

  &:visited {
    color: var(--color-blue-deep);
    text-decoration-color: var(--color-blue-deep);
  }
}
