:root {
  --header-height: 40px;
  --header-z-index: 56;
  --font-mono: "Fira Code", monospace;
}
#header {
  @apply bg-blue-deep w-full fixed;
  height: var(--header-height);
  z-index: var(--header-z-index);
  top: 0;

  @screen lg {
    height: 60px;
  }

  #main-menu {
    position: relative;
    @screen lg {
      display: flex;
      height: auto;
      justify-content: space-between;
    }
    .branding {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      font-family: var(--font-mono);
      font-weight: 600;

      .inset-text {
        border-right: none;
        padding-right: 10px;
        @screen lg {
          border-right: 1px solid rgba(160, 160, 160, 0.5);
        }
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }

    #top-links {
      @apply grid grid-cols-2 p-2 lg:bg-drk-green-octo lg:mr-2;
      margin-right: 0;
      width: 100%;
      transform: translateX(-100%);
      background-image: linear-gradient(0deg, #3498db 0%, #2c3e50 74%);
      height: calc(100dvh - 40px);
      position: absolute;

      @screen lg {
        height: auto;
      }

      &.slide-out {
        transform: unset;
      }

      @screen lg {
        width: auto;
        background-image: none;
        transform: unset;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
          @apply bg-drk-green-octo;
          content: "";
          position: absolute;
          inset: 0 -30px;
          z-index: -1;
          transform: skewX(-45deg);
        }
      }

      li {
        @apply lg:mr-4 lg:text-center lg:bg-drk-green-octo text-white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: rfs(16px);
        margin: 15px;
        border: 1px solid rgba(160, 160, 160, 0.3);
        padding: 8px 15px;
        border-radius: 20px;

        @screen lg {
          border: 1px solid transparent;
          margin: 0 15px 0 0;
          transition: background-color .5s ease-in-out;
        }

        a {
          @apply px-3 py-1;
          display: inline-block;
          width: 100%;
          padding: 10px;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.85);

          @screen lg {
            padding: 0;
          }

          .inline-svg {
            display: block;
            margin: 10px auto;
            @screen lg {
              display: inline-block;
              margin: 0 5px 0 0;
            }
          }
        }

        &:hover, &.active {
          background-color: rgba(255, 255, 255, 0.85);
          border-radius: 20px;
          a {
            @apply text-drk-green-octo;
          }
        }
      }

      > :last-child {
        margin-right: 5px;
      }
    }

    &.menu-open {
      #top-links {
        li {
          transition: background-color .5s ease-in-out;
        }
      }
    }
  }
}
