#header {
  @apply bg-blue-deep w-full fixed;
  height: var(--header-height);
  z-index: var(--header-z-index);
  top: 0;

  @screen lg {
    height: 50px;
  }

  #main-menu {
    position: relative;
    @screen lg {
      display: flex;
      height: auto;
      justify-content: space-between;
    }
    .branding {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      font-family: var(--font-mono);
      font-weight: 600;

      .inset-text {
        border-right: none;
        padding-right: 10px;
        @screen lg {
          border-right: 1px solid rgba(160, 160, 160, 0.5);
        }
      }
    }

    #top-links {
      @apply grid grid-cols-2 p-2 lg:mr-2;
      margin-right: 0;
      width: 100%;
      transform: translateX(-100%);
      height: calc(100dvh - 75px);
      position: absolute;
      background-image: linear-gradient(180deg, #2c3e50 0%, #114b5f 80%);

      @screen lg {
        height: auto;
      }

      &.slide-out {
        transform: unset;
      }

      @screen lg {
        width: auto;
        background-image: none;
        transform: unset;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
          background-image: linear-gradient(90deg, #2c3e50 0%, #114b5f 80%);
          content: "";
          border-left: 1px solid rgba(255,255,255, 0.3);
          position: absolute;
          inset: 0 -30px;
          z-index: -1;
          transform: skewX(-50deg);
        }
      }

      li {
        @apply lg:mr-4 lg:text-center text-white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: rfs(16px);
        margin: 15px;
        border: 1px solid rgba(160, 160, 160, 0.3);
        border-radius: 20px;

        @screen lg {
          border: none;
          border-radius: 5px;
          margin: 0 10px 0 0;
          transition: background-color .5s ease-in-out;
        }

        a {
          @apply px-3 py-1;
          display: inline-block;
          width: 100%;
          padding: 10px;

          @screen lg {
            padding: 5px 15px;
          }

          .inline-svg {
            display: block;
            margin: 10px auto;
            @screen lg {
              display: inline-block;
              margin: 0 5px 0 0;
            }
          }
        }

        &:hover, &.active {
          @apply text-drk-green-octo;
          background-color: rgba(255, 255, 255, 0.80);
          border-radius: 20px;
          font-weight: 500;

          @screen lg {
            border-radius: 5px;
          }
        }
      }
      @screen lg {
        > li:first-of-type {
          margin-left: 0;
        }
        > :last-child {
          margin-right: 0;
        }
      }
    }

    &.menu-open {
      #top-links {
        li {
          transition: background-color .5s ease-in-out;
        }
      }
    }
  }
}
