<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">

      <div class="grid-x mrg-top">
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <a href="{{.Permalink}}" class="button">{{.Title}}</a>
        {{end}}
      </div>

         {{ if .Site.Params.categoriesByCount }}
          {{ $.Scratch.Set "categories" .Data.Terms.ByCount }}
        {{ else }}
          {{ $.Scratch.Set "categories" .Data.Terms.Alphabetical }}
        {{ end }}
        
        <div id="list-cat" class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2" data-equalizer data-equalize-on="medium">
          
          {{ $data := .Data }}
          {{ range $key, $value := $.Scratch.Get "categories" }}
          
          <div class="cell">
                
            {{ if ne $value.Name "" }}

            <div class="card" data-equalizer-watch>

              <div class="card-divider">
                
                <h3>

                  <a href="{{ printf "/%s/%s" $data.Plural $value.Name | urlize | relLangURL }}">
                    {{ $value.Name | humanize | title }}
                  </a>
                
                </h3>

                <span style="float:right;">{{ $value.Count }}</span>
              
              </div>
              
              <div class="card-section">

                <ul class="no-bullets post-list">
                
                  {{ range .Pages }}
                  <li>
                    <small>
                    <i class="fas fa-calendar-alt"></i> &bull; {{ .Date.Day }} {{ index $.Site.Data.months $.Site.Language.Lang (printf "%d" .Date.Month) }} {{ .Date.Year }}
                    </small> 
                   <div><a href="{{.Permalink}}">{{.Title}}</a></div>
                  </li>
                
                  {{ end }}
                
                </ul>
              
              </div>
            
            </div>
              
              
            
              {{ else }}
                    {{ i18n "uncategorized" }}<span style="float:right;">{{ $value.Count }}</span>
              
                    {{ end }}
          </div>

          {{ end }}
       
        </div>
            
      </main>
      {{ $.Scratch.Set "showCategories" false }}
      {{ partial "site-sidebar" . }}
    </div>
    {{ partial "site-footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>
