
.inline-svg {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  vertical-align : middle;
}

#header {

  height : 40px;
  z-index: 56;
  top:0px;
  
  .nav-link {
 
    letter-spacing : 2px;
   
  }
  
  .nav-links li {
  
    @apply mr-4  bg-drk-green-octo text-white;
    font-size: 16px;
    cursor: pointer;
    text-align:center;
    border: none;  
    transition: all .4s ease-in-out;

    a {

      @apply px-2 py-1;
      display : inline-block;

    }
  
    &:hover, .active {
  
      background-color: rgba(255, 255, 255, 0.3);
      color : #000;
    
    }
    
  }
  
}