#content {

  @apply bg-light;
  padding-top: 40px;
  animation-name: fadeInUp;
  animation-duration: 0.95s;
  animation-fill-mode: both;
  min-height: calc(100vh - 35px );
}

.home {

  #content {

    padding-top: initial;
  }
}

.section {

  .project {
   
    position : relative;
 
    &.card {

     
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    
    }

    .project-img {

      position: relative;
      height: 200px;
      
      img {

        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      .info-project {

        position: absolute;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.85);
        width: 100%;
        border-bottom-right-radius: 0.5rem;
      }

    }

    .github-btn {

      margin-top: auto;
      border-bottom-left-radius: 0.5rem;
      a {
        
        display: flex;
        align-items: center;
      
      }

    }

    @screen md {
    
      &:not(:last-of-type):after {

        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1px;
        background-color: #028090;
        position: absolute;
        top : 99px;
        right : -1.5rem;

      }
    }
  }

}

#posts {

  .post {

    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-out;

    @screen md {
      
      flex-direction: row;
    
    }

    .thumb {

      @apply overflow-hidden h-52 xl:h-auto;

      img {

        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    h3 {

      @apply text-drk-green-octo;
      font-weight: 600;
      margin-top: 5px;

    }

    .post-meta {

      font-size: 0.80em;
      color: rgba(0, 0, 0, 0.6);
      text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
      margin-bottom: 1rem;

      li {
        
        display: inline-block;

        .inline-svg {
  
          width: 0.80em;
          top : 0.4rem;
        }
      }
    }

    .post-content {

      @apply p-3 bg-white;
    
    }

    &:hover {

      box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb, 0px 4px 0px #b9b9b9, 0px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 3px 0px rgba(0, 0, 0, 0.2), 0px 5px 0px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.1), 0 8px 7px rgba(0, 0, 0, 0.1), 0 9px 9px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.16);

    }
  
  }

}

#pagination {

  margin: 20px 0;
  justify-content: center;

  li {

    margin : 0 10px;
    width: 25px;
    height: 25px;
    text-align: center;

    &.active {

      background-color: rgba(2, 128, 144, 0.3);
      border-radius : 50px;

    }

  }

}
