#hero {

  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;

  &::after {

    content: '';
    display: block;
    position: absolute;
    top : 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.75);
    z-index: 1;

  }

  h1 {

    @apply text-white py-6 m-0;
    position: relative;
    z-index: 2;

  }
  
}


#single {

  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0 1rem;
  position: relative;

  #post-content {

    h2, h3 {

      @apply text-drk-green-octo;

    }

    a {

      @apply text-dragon;
      font-weight: bold;

      text-decoration: underline;
      text-decoration-color: #c33c54;
      text-decoration-thickness: .05em;
      text-underline-offset: 1.5px;

      &:hover {

        text-decoration-color: #2c3e50;

      }

      &:visited {

        @apply text-blue-deep;
        text-decoration-color: #2c3e50;

      }

    }

    .btn-trello a {

      text-decoration: none;
      color: #fff;
      
    }

    p {

      margin: 1rem 0;

    }

    ul {


      li {

        margin-bottom: 5px;

        &:before {

          @apply text-drk-green-octo;
          content: "⦾";
          display: inline-block;
          margin-right: 10px;

        }

      }

    }

    @screen lg {
      
      &::after {
        content: '';
        position: absolute;
        top: 1rem;
        left: 0;
        background-color: #028090;
        display: inline-block;
        height: calc(100% - 1rem);
        width: 1px;
      }
    }
  }

  &.page #post-content {

    &::after {

      top: -1rem;
      height: calc(100% + 1rem);
    }
  }

  #meta {

    @apply bg-lgt-green-octo;
    font-size: 0.80em;
    color: #fafafa;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: fit-content;

    li {

      display: inline-block;

      .inline-svg {

        width: 0.80em;
        top: 0.4rem;
      }
    }
    @screen lg {
      
      &:after {

        content: '';
        display: inline-block;
        width: 1rem;
        height: 1px;
        background-color: #028090;
        position: absolute;
        top: 50%;
        left: -1rem;

      }
    }
  }

}